
<div class="painel">
    <div class="painel2">
      <div *ngIf="habilitadoPainel1" class="conteudo">
        <img src="https://www.bing.com/th?id=OIP._kShFWeRR9NzWnKLhUoJngHaEK&w=175&h=100&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" class="quadro">
        <img src="https://www.bing.com/th?id=OIP.wcVHi50dPFLtoRwELaQLgQHaFj&w=148&h=106&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" class="quadro">
        <img src="https://www.bing.com/th?id=OIP.E8rR1-BUCOWIHpS78uukkAHaEK&w=161&h=100&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" class="quadro">
        <img src="https://th.bing.com/th/id/OIP.E0J17-Lt3pwbL1SjtB1-mwHaE7?w=238&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
        <img src="https://th.bing.com/th/id/OIP.ET6yH7zmclAFCl2WpiLQAQHaE5?w=202&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
        <img src="https://th.bing.com/th/id/OIP.V_iTJTbOqdSvEquQM5TiWwHaFj?w=218&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
        <img src="https://th.bing.com/th/id/OIP.enZDMr-bQvCJjCk-z66itgHaEK?w=295&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
        <img src="https://th.bing.com/th/id/OIP.dUb_DnPivtVTjuOKC3lq0AHaFj?w=235&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
      </div>
     </div>
      <div class="painel2">
        <div *ngIf="habilitadoPainel2" class="conteudo">
          <img src="https://th.bing.com/th/id/OIP.6EnS7zULqSLtZ_14kqR0wgHaEo?w=273&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.FEC2GBADKHaYqqerfdCqnQHaEo?w=240&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.2Mb-6Zwycj557FbkYqlrOgHaEK?w=351&h=187&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.Te-wmNmYr0NiIRuhEfPwBAHaEK?w=260&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.RaUsNT4GHXWm3Yibw4CdNAHaD1?w=347&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.eEasgYmXELTI0F_8SSXUWwHaEK?w=323&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
          <img src="https://th.bing.com/th/id/OIP.HVCDx0_T5ON1tnk3F0i4JgHaEK?w=262&h=180&c=7&r=0&o=5&pid=1.7" class="quadro">
        </div>
      </div>
  </div> 
  